@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="final_assignment" class="display-4 black-text" onmouseover="newColor()" onmouseout="oldColor()">My favourite Song!</h1>
</div>


<div id="video" class="text-center">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CbRG3jFQOaM?si=LGSg0vsdGK4ndJV7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>



